<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeStartingContent %> </p>

<% postsLst.forEach(function(post){ %>
    <h2><%= post.titleInput %> </h2>
    <p><%= post.postInput %> </p>
<% }); %>
    


<%- include('partials/footer'); -%>    