<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeStartingContent %> </p>

    <% postsArray.forEach((blogPost)=>{ %>

        <% let postDescr = blogPost.post.substring(0, 100) + "..." %>
        <% let readMoreLink = '/posts/' + blogPost.title %>

        <h2><%= blogPost.title %></h2>
        <p><%= postDescr %><a href= "<%= readMoreLink %>" >Read more</a></p>
        
    <% }); %>  

<%- include('partials/footer'); -%>    