<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeStartingContent %> </p>

<% postsLst.forEach(function(post){ %>

    <% let postDescr = post.postInput.substring(0, 100) + "..." %>
    <% let readMore = '/posts/' + post.titleInput %>

    <h2><%= post.titleInput %></h2>
    <p><%= postDescr %><a href= <%= readMore %> >Read more</a></p>
    
<% }); %>
    


<%- include('partials/footer'); -%>    